<?xml version="1.0" encoding="UTF-8"?>
<jmeterTestPlan version="1.2" properties="5.0" jmeter="5.6.3">
    <hashTree>
        <TestPlan guiclass="TestPlanGui" testclass="TestPlan" testname="Test Plan">
            <elementProp name="TestPlan.user_defined_variables" elementType="Arguments" guiclass="ArgumentsPanel"
                         testclass="Arguments" testname="User Defined Variables">
                <collectionProp name="Arguments.arguments"/>
            </elementProp>
            <boolProp name="TestPlan.functional_mode">false</boolProp>
            <boolProp name="TestPlan.serialize_threadgroups">false</boolProp>
        </TestPlan>
        <hashTree>
            <ConfigTestElement guiclass="HttpDefaultsGui" testclass="ConfigTestElement"
                               testname="HTTP Request Defaults">
                <stringProp name="HTTPSampler.domain">{{url.host}}</stringProp>
                <stringProp name="HTTPSampler.protocol">{{url.protocol}}</stringProp>
                <stringProp name="HTTPSampler.path">{{url.path}}</stringProp>
                <elementProp name="HTTPsampler.Arguments" elementType="Arguments" guiclass="HTTPArgumentsPanel"
                             testclass="Arguments" testname="User Defined Variables">
                    <collectionProp name="Arguments.arguments">
                        <elementProp name="" elementType="HTTPArgument">
                            <boolProp name="HTTPArgument.always_encode">false</boolProp>
                            <stringProp name="Argument.value"></stringProp>
                            <stringProp name="Argument.metadata">=</stringProp>
                            <boolProp name="HTTPArgument.use_equals">true</boolProp>
                        </elementProp>
                    </collectionProp>
                </elementProp>
                <stringProp name="HTTPSampler.implementation">HttpClient4</stringProp>
            </ConfigTestElement>
            <hashTree/>
            <JSR223PreProcessor guiclass="TestBeanGUI" testclass="JSR223PreProcessor" testname="JSR223 PreProcessor">
                <stringProp name="cacheKey">true</stringProp>
                <stringProp name="filename"></stringProp>
                <stringProp name="parameters">${CRS}</stringProp>
                <stringProp name="script">import java.util.Random
                def crs = sampler.getArguments().getArgumentsAsMap().get("crs")

                // Extract the numeric part
                def matcher = (crs =~ /^EPSG:(\d+)$/)
                if (!matcher.matches()) {
                    throw new IllegalArgumentException("Input must be formatted as EPSG:xxx, got: ${input}")
                }
                def code = matcher[0][1] as int


                def sampleInTriangle(rand, minX, minY, maxX, maxY, size) {
                    def randX = minX + rand.nextDouble() * (maxX - minX)
                    def randY = minY + rand.nextDouble() * (maxY - minY)

                    if (randX &lt; minX + (maxX - minX) * (1 - (randY-minY)/(maxY-minY))) {
                        def randXO = maxX - (randY - minY ) * (maxX - minX) / (maxY - minY)
                        def randYO = maxY - (randX - minX ) * (maxY - minY) / (maxX - minX)

                        randX = randXO
                        randY = randYO
                    }

                    return [randX, randY, randX + size, randY + size]
                }

                def bboxMinX, bboxMinY, bboxMaxX, bboxMaxY
                def rand = new Random()
                def size = Math.pow(10, 1 + rand.nextDouble() * 4)

                switch (code) {

                case 4326:
                    def sizeInDeg = size * .000014408
                    def sample = sampleInTriangle(rand, 3.12693868, 49.68725789, 5.64832663 - sizeInDeg, 51.09820380 - sizeInDeg, sizeInDeg)
                    bboxMinX = sample[0]
                    bboxMinY = sample[1]
                    bboxMaxX = sample[2]
                    bboxMaxY = sample[3]

                    break
                case 3812:
                    def sizeInMeter= size
                    def sample = sampleInTriangle(rand, 563000, 542540, 739578 - sizeInMeter, 669500 - sizeInMeter, sizeInMeter)
                    bboxMinX = sample[0]
                    bboxMinY = sample[1]
                    bboxMaxX = sample[2]
                    bboxMaxY = sample[3]

                    break
                case 3857:
                    def sizeInMeter= size
                    def sample = sampleInTriangle(rand, 348088, 63923479, 628766 - sizeInMeter, 6638679 - sizeInMeter, sizeInMeter)
                    bboxMinX = sample[0]
                    bboxMinY = sample[1]
                    bboxMaxX = sample[2]
                    bboxMaxY = sample[3]
                }

                // Build result string
                def result = [bboxMinX, bboxMinY, bboxMaxX, bboxMaxY].join(",")
                log.info(result)
                // Store in JMeter variable
                vars.put("epsgResult", result)

                </stringProp>
                <stringProp name="scriptLanguage">groovy</stringProp>
            </JSR223PreProcessor>
            <hashTree/>
            {{#threadGroups}}
                <ThreadGroup guiclass="ThreadGroupGui" testclass="ThreadGroup"
                             testname="Thread Group {{protocol}} ({{crs}})">
                    <intProp name="ThreadGroup.num_threads">{{users}}</intProp>
                    <intProp name="ThreadGroup.ramp_time">0</intProp>
                    <boolProp name="ThreadGroup.same_user_on_next_iteration">true</boolProp>
                    <stringProp name="ThreadGroup.on_sample_error">continue</stringProp>
                    <elementProp name="ThreadGroup.main_controller" elementType="LoopController"
                                 guiclass="LoopControlPanel" testclass="LoopController" testname="Loop Controller">
                        <stringProp name="LoopController.loops">{{loops}}</stringProp>
                        <boolProp name="LoopController.continue_forever">false</boolProp>
                    </elementProp>
                </ThreadGroup>
                {{#wms}}
                    <hashTree>
                        <ConfigTestElement guiclass="HttpDefaultsGui" testclass="ConfigTestElement"
                                           testname="HTTP Request Defaults">
                            <stringProp name="HTTPSampler.path">{{url.path}}/ows</stringProp>
                            <elementProp name="HTTPsampler.Arguments" elementType="Arguments"
                                         guiclass="HTTPArgumentsPanel" testclass="Arguments"
                                         testname="User Defined Variables">
                                <collectionProp name="Arguments.arguments">
                                    <elementProp name="SERVICE" elementType="HTTPArgument">
                                        <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                        <stringProp name="Argument.value">WMS</stringProp>
                                        <stringProp name="Argument.metadata">=</stringProp>
                                        <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                        <stringProp name="Argument.name">service</stringProp>
                                    </elementProp>
                                    <elementProp name="VERSION" elementType="HTTPArgument">
                                        <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                        <stringProp name="Argument.value">1.3.0</stringProp>
                                        <stringProp name="Argument.metadata">=</stringProp>
                                        <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                        <stringProp name="Argument.name">version</stringProp>
                                    </elementProp>
                                    <elementProp name="REQUEST" elementType="HTTPArgument">
                                        <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                        <stringProp name="Argument.value">GetMap</stringProp>
                                        <stringProp name="Argument.metadata">=</stringProp>
                                        <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                        <stringProp name="Argument.name">request</stringProp>
                                    </elementProp>
                                    <elementProp name="FORMAT" elementType="HTTPArgument">
                                        <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                        <stringProp name="Argument.value">image/png</stringProp>
                                        <stringProp name="Argument.metadata">=</stringProp>
                                        <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                        <stringProp name="Argument.name">format</stringProp>
                                    </elementProp>
                                    <elementProp name="TRANSPARENT" elementType="HTTPArgument">
                                        <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                        <stringProp name="Argument.value">true</stringProp>
                                        <stringProp name="Argument.metadata">=</stringProp>
                                        <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                        <stringProp name="Argument.name">transparent</stringProp>
                                    </elementProp>
                                    <elementProp name="WIDTH" elementType="HTTPArgument">
                                        <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                        <stringProp name="Argument.value">256</stringProp>
                                        <stringProp name="Argument.metadata">=</stringProp>
                                        <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                        <stringProp name="Argument.name">width</stringProp>
                                    </elementProp>
                                    <elementProp name="HEIGHT" elementType="HTTPArgument">
                                        <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                        <stringProp name="Argument.value">256</stringProp>
                                        <stringProp name="Argument.metadata">=</stringProp>
                                        <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                        <stringProp name="Argument.name">height</stringProp>
                                    </elementProp>
                                    <elementProp name="CRS" elementType="HTTPArgument">
                                        <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                        <stringProp name="Argument.value">{{crs}}</stringProp>
                                        <stringProp name="Argument.metadata">=</stringProp>
                                        <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                        <stringProp name="Argument.name">crs</stringProp>
                                    </elementProp>
                                    <elementProp name="STYLES" elementType="HTTPArgument">
                                        <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                        <stringProp name="Argument.value"></stringProp>
                                        <stringProp name="Argument.metadata">=</stringProp>
                                        <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                        <stringProp name="Argument.name">styles</stringProp>
                                    </elementProp>
                                </collectionProp>
                            </elementProp>
                            <stringProp name="HTTPSampler.implementation">HttpClient4</stringProp>
                        </ConfigTestElement>
                        <hashTree/>
                        {{#layers}}
                            <HTTPSamplerProxy guiclass="HttpTestSampleGui" testclass="HTTPSamplerProxy"
                                              testname="WMS Request: {{name}} ({{crs}})">
                                <boolProp name="HTTPSampler.follow_redirects">true</boolProp>
                                <stringProp name="HTTPSampler.method">GET</stringProp>
                                <boolProp name="HTTPSampler.use_keepalive">true</boolProp>
                                <boolProp name="HTTPSampler.postBodyRaw">false</boolProp>
                                <elementProp name="HTTPsampler.Arguments" elementType="Arguments"
                                             guiclass="HTTPArgumentsPanel" testclass="Arguments"
                                             testname="User Defined Variables">
                                    <collectionProp name="Arguments.arguments">
                                        <elementProp name="LAYERS" elementType="HTTPArgument">
                                            <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                            <stringProp name="Argument.value">{{name}}</stringProp>
                                            <stringProp name="Argument.metadata">=</stringProp>
                                            <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                            <stringProp name="Argument.name">layers</stringProp>
                                        </elementProp>
                                        <elementProp name="BBOX" elementType="HTTPArgument">
                                            <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                            <stringProp name="Argument.value">${epsgResult}</stringProp>
                                            <stringProp name="Argument.metadata">=</stringProp>
                                            <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                            <stringProp name="Argument.name">bbox</stringProp>
                                        </elementProp>
                                    </collectionProp>
                                </elementProp>
                            </HTTPSamplerProxy>
                            <hashTree/>
                        {{/layers}}
                    </hashTree>
                {{/wms}}

                {{#wfs}}
                    <hashTree>
                        <ConfigTestElement guiclass="HttpDefaultsGui" testclass="ConfigTestElement"
                                           testname="HTTP Request Defaults">
                            <stringProp name="HTTPSampler.path">{{url.path}}/ows</stringProp>
                            <elementProp name="HTTPsampler.Arguments" elementType="Arguments"
                                         guiclass="HTTPArgumentsPanel"
                                         testclass="Arguments" testname="User Defined Variables">
                                <collectionProp name="Arguments.arguments">
                                    <elementProp name="REQUEST" elementType="HTTPArgument">
                                        <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                        <stringProp name="Argument.value">GetFeature</stringProp>
                                        <stringProp name="Argument.metadata">=</stringProp>
                                        <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                        <stringProp name="Argument.name">request</stringProp>
                                    </elementProp>
                                    <elementProp name="SERVICE" elementType="HTTPArgument">
                                        <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                        <stringProp name="Argument.value">WFS</stringProp>
                                        <stringProp name="Argument.metadata">=</stringProp>
                                        <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                        <stringProp name="Argument.name">service</stringProp>
                                    </elementProp>
                                    <elementProp name="COUNT" elementType="HTTPArgument">
                                        <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                        <stringProp name="Argument.value">1000</stringProp>
                                        <stringProp name="Argument.metadata">=</stringProp>
                                        <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                        <stringProp name="Argument.name">count</stringProp>
                                    </elementProp>
                                    <elementProp name="OUTPUTFORMAT" elementType="HTTPArgument">
                                        <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                        <stringProp name="Argument.value">application/json</stringProp>
                                        <stringProp name="Argument.metadata">=</stringProp>
                                        <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                        <stringProp name="Argument.name">outputformat</stringProp>
                                    </elementProp>
                                    <elementProp name="CRS" elementType="HTTPArgument">
                                        <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                        <stringProp name="Argument.value">{{crs}}</stringProp>
                                        <stringProp name="Argument.metadata">=</stringProp>
                                        <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                        <stringProp name="Argument.name">crs</stringProp>
                                    </elementProp>
                                    <elementProp name="SRSNAME" elementType="HTTPArgument">
                                        <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                        <stringProp name="Argument.value">{{crs}}</stringProp>
                                        <stringProp name="Argument.metadata">=</stringProp>
                                        <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                        <stringProp name="Argument.name">srsname</stringProp>
                                    </elementProp>
                                </collectionProp>
                            </elementProp>
                            <stringProp name="HTTPSampler.implementation">HttpClient4</stringProp>
                        </ConfigTestElement>
                        <hashTree/>

                        {{#layers}}
                            <HTTPSamplerProxy guiclass="HttpTestSampleGui" testclass="HTTPSamplerProxy"
                                              testname="WFS Request: {{name}} ({{crs}})">
                                <boolProp name="HTTPSampler.follow_redirects">true</boolProp>
                                <stringProp name="HTTPSampler.method">GET</stringProp>
                                <boolProp name="HTTPSampler.use_keepalive">true</boolProp>
                                <boolProp name="HTTPSampler.postBodyRaw">false</boolProp>
                                <elementProp name="HTTPsampler.Arguments" elementType="Arguments"
                                             guiclass="HTTPArgumentsPanel" testclass="Arguments"
                                             testname="User Defined Variables">
                                    <collectionProp name="Arguments.arguments">
                                        <elementProp name="TYPENAME" elementType="HTTPArgument">
                                            <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                            <stringProp name="Argument.value">{{name}}</stringProp>
                                            <stringProp name="Argument.metadata">=</stringProp>
                                            <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                            <stringProp name="Argument.name">typename</stringProp>
                                        </elementProp>
                                        <elementProp name="BBOX" elementType="HTTPArgument">
                                            <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                            <stringProp name="Argument.value">${epsgResult}</stringProp>
                                            <stringProp name="Argument.metadata">=</stringProp>
                                            <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                            <stringProp name="Argument.name">bbox</stringProp>
                                        </elementProp>
                                    </collectionProp>
                                </elementProp>
                            </HTTPSamplerProxy>
                            <hashTree/>
                        {{/layers}}
                    </hashTree>
                {{/wfs}}

                {{#wmts}}

                {{/wmts}}

                {{#features}}
                    <hashTree>
                        <ConfigTestElement guiclass="HttpDefaultsGui" testclass="ConfigTestElement"
                                           testname="HTTP Request Defaults">
                            <stringProp name="HTTPSampler.path"></stringProp>
                            <stringProp name="HTTPSampler.domain"></stringProp>
                            <stringProp name="HTTPSampler.protocol"></stringProp>
                            <elementProp name="HTTPsampler.Arguments" elementType="Arguments"
                                         guiclass="HTTPArgumentsPanel"
                                         testclass="Arguments" testname="User Defined Variables">
                                <collectionProp name="Arguments.arguments">
                                    <elementProp name="LIMIT" elementType="HTTPArgument">
                                        <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                        <stringProp name="Argument.value">1000</stringProp>
                                        <stringProp name="Argument.metadata">=</stringProp>
                                        <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                        <stringProp name="Argument.name">limit</stringProp>
                                    </elementProp>
                                    <elementProp name="BBOX-CRS" elementType="HTTPArgument">
                                        <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                        <stringProp name="Argument.value">{{crs}}</stringProp>
                                        <stringProp name="Argument.metadata">=</stringProp>
                                        <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                        <stringProp name="Argument.name">bbox-crs</stringProp>
                                    </elementProp>
                                    <elementProp name="CRS" elementType="HTTPArgument">
                                        <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                        <stringProp name="Argument.value">{{crs}}</stringProp>
                                        <stringProp name="Argument.metadata">=</stringProp>
                                        <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                        <stringProp name="Argument.name">crs</stringProp>
                                    </elementProp>
                                </collectionProp>
                            </elementProp>
                            <stringProp name="HTTPSampler.implementation">HttpClient4</stringProp>
                        </ConfigTestElement>
                        <hashTree/>
                        {{#layers}}
                            <HTTPSamplerProxy guiclass="HttpTestSampleGui" testclass="HTTPSamplerProxy"
                                              testname="Feature Request: {{name}} ({{crs}})">
                                <stringProp name="HTTPSampler.path">geoserver/ogc/features/v1/collections/{{name}}/items</stringProp>
                                <boolProp name="HTTPSampler.follow_redirects">true</boolProp>
                                <stringProp name="HTTPSampler.method">GET</stringProp>
                                <boolProp name="HTTPSampler.use_keepalive">true</boolProp>
                                <boolProp name="HTTPSampler.postBodyRaw">false</boolProp>
                                <elementProp name="HTTPsampler.Arguments" elementType="Arguments"
                                             guiclass="HTTPArgumentsPanel" testclass="Arguments"
                                             testname="User Defined Variables">
                                    <collectionProp name="Arguments.arguments">
                                        <elementProp name="BBOX" elementType="HTTPArgument">
                                            <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                            <stringProp name="Argument.value">${epsgResult}</stringProp>
                                            <stringProp name="Argument.metadata">=</stringProp>
                                            <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                            <stringProp name="Argument.name">bbox</stringProp>
                                        </elementProp>
                                    </collectionProp>
                                </elementProp>
                            </HTTPSamplerProxy>
                            <hashTree/>
                        {{/layers}}
                    </hashTree>
                {{/features}}

                {{#maps}}
                    <hashTree>
                        <ConfigTestElement guiclass="HttpDefaultsGui" testclass="ConfigTestElement"
                                           testname="HTTP Request Defaults">
                            <stringProp name="HTTPSampler.domain"></stringProp>
                            <stringProp name="HTTPSampler.protocol"></stringProp>
                            <elementProp name="HTTPsampler.Arguments" elementType="Arguments" guiclass="HTTPArgumentsPanel" testclass="Arguments" testname="User Defined Variables">
                                <collectionProp name="Arguments.arguments">
                                    <elementProp name="transparent" elementType="HTTPArgument">
                                        <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                        <stringProp name="Argument.value">true</stringProp>
                                        <stringProp name="Argument.metadata">=</stringProp>
                                        <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                        <stringProp name="Argument.name">transparent</stringProp>
                                    </elementProp>
                                    <elementProp name="f" elementType="HTTPArgument">
                                        <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                        <stringProp name="Argument.value">image/png</stringProp>
                                        <stringProp name="Argument.metadata">=</stringProp>
                                        <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                        <stringProp name="Argument.name">f</stringProp>
                                    </elementProp>
                                    <elementProp name="width" elementType="HTTPArgument">
                                        <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                        <stringProp name="Argument.value">256</stringProp>
                                        <stringProp name="Argument.metadata">=</stringProp>
                                        <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                        <stringProp name="Argument.name">width</stringProp>
                                    </elementProp>
                                    <elementProp name="height" elementType="HTTPArgument">
                                        <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                        <stringProp name="Argument.value">256</stringProp>
                                        <stringProp name="Argument.metadata">=</stringProp>
                                        <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                        <stringProp name="Argument.name">height</stringProp>
                                    </elementProp>
                                </collectionProp>
                            </elementProp>
                            <stringProp name="HTTPSampler.implementation">HttpClient4</stringProp>
                        </ConfigTestElement>
                        <hashTree/>
                        {{#layers}}
                            <HTTPSamplerProxy guiclass="HttpTestSampleGui" testclass="HTTPSamplerProxy"
                                              testname="Map Request: {{name}} {{crs}}">
                                <stringProp name="HTTPSampler.path">geoserver/ogc/maps/v1/collections/{{name}}/styles/{{defaultStyle}}/map</stringProp>
                                <boolProp name="HTTPSampler.follow_redirects">true</boolProp>
                                <stringProp name="HTTPSampler.method">GET</stringProp>
                                <boolProp name="HTTPSampler.use_keepalive">true</boolProp>
                                <boolProp name="HTTPSampler.postBodyRaw">false</boolProp>
                                <elementProp name="HTTPsampler.Arguments" elementType="Arguments" guiclass="HTTPArgumentsPanel" testclass="Arguments" testname="User Defined Variables">
                                    <collectionProp name="Arguments.arguments">
                                        <elementProp name="layers" elementType="HTTPArgument">
                                            <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                            <stringProp name="Argument.value">{{name}}</stringProp>
                                            <stringProp name="Argument.metadata">=</stringProp>
                                            <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                            <stringProp name="Argument.name">layers</stringProp>
                                        </elementProp>
                                        <elementProp name="styles" elementType="HTTPArgument">
                                            <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                            <stringProp name="Argument.value">{{defaultStyle}}</stringProp>
                                            <stringProp name="Argument.metadata">=</stringProp>
                                            <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                            <stringProp name="Argument.name">styles</stringProp>
                                        </elementProp>
                                        <elementProp name="crs" elementType="HTTPArgument">
                                            <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                            <stringProp name="Argument.value">{{crs}}</stringProp>
                                            <stringProp name="Argument.metadata">=</stringProp>
                                            <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                            <stringProp name="Argument.name">crs</stringProp>
                                        </elementProp>
                                        <elementProp name="bbox" elementType="HTTPArgument">
                                            <boolProp name="HTTPArgument.always_encode">false</boolProp>
                                            <stringProp name="Argument.value">${epsgResult}</stringProp>
                                            <stringProp name="Argument.metadata">=</stringProp>
                                            <boolProp name="HTTPArgument.use_equals">true</boolProp>
                                            <stringProp name="Argument.name">bbox</stringProp>
                                        </elementProp>
                                    </collectionProp>
                                </elementProp>
                            </HTTPSamplerProxy>
                            <hashTree/>
                        {{/layers}}
                    </hashTree>
                {{/maps}}

            {{/threadGroups}}

            <ResultCollector guiclass="ViewResultsFullVisualizer" testclass="ResultCollector"
                             testname="View Results Tree">
                <boolProp name="ResultCollector.error_logging">false</boolProp>
                <objProp>
                    <name>saveConfig</name>
                    <value class="SampleSaveConfiguration">
                        <time>true</time>
                        <latency>true</latency>
                        <timestamp>true</timestamp>
                        <success>true</success>
                        <label>true</label>
                        <code>true</code>
                        <message>true</message>
                        <threadName>true</threadName>
                        <dataType>true</dataType>
                        <encoding>false</encoding>
                        <assertions>true</assertions>
                        <subresults>true</subresults>
                        <responseData>false</responseData>
                        <samplerData>false</samplerData>
                        <xml>false</xml>
                        <fieldNames>true</fieldNames>
                        <responseHeaders>false</responseHeaders>
                        <requestHeaders>false</requestHeaders>
                        <responseDataOnError>false</responseDataOnError>
                        <saveAssertionResultsFailureMessage>true</saveAssertionResultsFailureMessage>
                        <assertionsResultsToSave>0</assertionsResultsToSave>
                        <bytes>true</bytes>
                        <sentBytes>true</sentBytes>
                        <url>true</url>
                        <threadCounts>true</threadCounts>
                        <idleTime>true</idleTime>
                        <connectTime>true</connectTime>
                    </value>
                </objProp>
                <stringProp name="filename"></stringProp>
            </ResultCollector>
            <hashTree/>
        </hashTree>
    </hashTree>
</jmeterTestPlan>